.App {
  margin: 2% 0;
}

.navbar-brand {
  text-align:  center;
}

.title-row h2, .title-row h3 {
  text-align: center;
}

.title-row {
  margin-bottom: 2%;
}

.wordcloud-row {
  height:  150px;
}

.carousel-row img {
  width:  100%;
}